# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# tests & linters
.pytest_cache/
.ruff_cache/

# notebooks
.ipynb_checkpoints/

# local config & secrets
.env
.env.*
!*.env.example

# mlflow & artifacts
mlflow.db
mlruns/
wandb/
ml/artifacts/
*.joblib

# streamlit cache
.streamlit/

# docker
**/.dockerignore

# OS
.DS_Store
Thumbs.db

